.form-wrapper {
  @include inline-flexbox(start, start);
  flex-direction: column;
  margin: 3.4rem auto 0;
  width: 100%;
  position: relative;
  gap: 2.4rem;

  > button:last-child {
    position: absolute;
    top: -8rem;
    right: 0;
  }
}

.label {
  @include text-style(2.4, 700, $black);
  font-family: Pretendard;
  cursor: pointer;
  margin-bottom: -0.8rem;
  /* 108.333% */
}

.image-input-box {
  @include flexbox(start, end);
  gap: 2.4rem;
  flex-wrap: wrap;
}

.file {
  &-label {
    @include column-flexbox(start, start);
    margin-bottom: 0;

    &-box {
      @include inline-flexbox(center, center);
      @include text-style(2.4, 400, $gray80);
      flex-direction: column;

      position: relative;

      gap: 3.8rem;

      width: 18rem;
      height: 18rem;
      border-radius: 1.2rem;
      border: 0.1rem dashed $gray80;
      background-color: $gray10;
      margin-top: 2.4rem;
    }
  }
  &-input {
    position: absolute;
    bottom: 40rem;
    left: 2rem;
    width: 3rem;
    z-index: -2;
  }

  &-preview {
    &-list {
      position: relative;
    }
    &-item {
      @include flexbox(end, end);
      border-radius: 2.4rem;

      &-cancel {
        position: absolute;
        top: -1.5rem;
        right: -1.5rem;
      }
    }
  }
}

.guide-image-input {
  @include text-style(1.8, 400, $gray80);
  font-family: Pretendard;
}
