.entire {
  @include column-flexbox(none, none);
  overflow: hidden;
  gap: 1.6rem;
  cursor: pointer;

  &.banner {
    @extend .carousel;
  }
}

.image-container {
  width: 28.3rem;
  height: 28.3rem;

  @include responsive('T') {
    width: 100%;
    padding-top: 100%;
    position: relative;
    height: auto;
  }
}

.image {
  width: 28.3rem;
  height: 28.3rem;
  border-radius: 2rem;
  z-index: -1;

  @include responsive('T') {
    width: 100%;
    min-height: 22.1rem;
    object-fit: cover;
    object-position: center;
  }
  @include responsive('M') {
    width: 100%;
    min-height: 16.8rem;
  }
}

.info {
  @include column-flexbox(none, none);
  gap: 1rem;
  color: $black;
  width: 100%;
}

.info-rating {
  @include flexbox(none, center);
  @include text-style(1.6, 500, $black);
  margin-right: 0.5rem;
  line-height: 1.9rem;

  span {
    color: $gray55;
  }
}

.info-rating-star {
  margin-right: 0.5rem;
}

.info-title {
  line-height: 2.864rem;
  @include text-style(2.4, 600);
  margin-bottom: 0.5rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

  @include responsive('M') {
    // width: 14.6rem;
    @include text-style(1.8, 700);
    line-height: 2.15rem;
  }
}

.info-price {
  @include flexbox(none, center);
  @include text-style(2.8, 700);
  gap: 0.5rem;
  line-height: 3.341rem;

  @include responsive('M') {
    @include text-style(2, 700);
    line-height: 2.38rem;
  }

  span {
    @include text-style(2, 400, $gray80);

    @include responsive('M') {
      @include text-style(1.6, 400);
      line-height: 1.9rem;
    }
  }
}

.carousel {
  width: 38.4rem;
  height: 38.4rem;
  position: relative;
  background: linear-gradient(
    180deg,
    $card-resource-gradient-from 33.33%,
    $card-resource-gradient-to 91.67%
  );
  border-radius: 2rem;
  flex-direction: column-reverse;

  @include responsive('M') {
    width: 18.6rem;
    height: 18.6rem;
  }

  .image-container {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }

  .image {
    width: 100%;
    height: 100%;
    position: absolute;
  }
  .info {
    padding: 3rem 0 3rem 2rem;
    color: $white;
    gap: 2rem;

    @include responsive('M') {
      padding: 1.2rem 0 1.2rem 2rem;
      gap: 0.6rem;
    }
  }
  .info-rating {
    @include text-style(1.6, 600, $white);
    line-height: 1.67rem;

    span {
      color: $white;
    }
  }
  .info-rating {
    width: 1.8rem;
    height: 1.8rem;
  }
  .info-title {
    @include text-style(3, 700);
    line-height: 3.58rem;
    width: 30rem;

    @include responsive('M') {
      width: 14.6rem;
      @include text-style(1.8, 700);
      line-height: 2.15rem;
    }
  }
  .info-price {
    @include text-style(2, 700);
    line-height: 2.39rem;

    @include responsive('M') {
      @include text-style(1.6, 700);
      line-height: 1.9rem;
    }
    span {
      @include text-style(1.4, 400, $gray55);
    }
  }
}
