.reservations-container {
  @include column-flexbox(none, none);
  width: 80rem;
  height: 1190px;
  overflow: scroll;
  scrollbar-width: none;

  @include responsive('T') {
    width: 42.9rem;
  }
  @include responsive('M') {
    width: 34.4rem;
  }
}

.title {
  position: sticky;
  @include flexbox(between, center);
  margin-bottom: 24px;
  top: 0;
  @include responsive('M') {
    margin-bottom: 16px;
  }
  background-color: $white;
}
.register-button {
  padding: 11px 16.5px;
  border-radius: 4px;
  background-color: $gray90;
  @include text-style(1.6, 700, $white);
}
.card-lists {
  @include column-flexbox(none, none);

  gap: 24px;

  @include responsive('M') {
    gap: 16px;
  }
}
.ref-box {
  height: 1px;
}
.loading-container {
  @include flexbox(center, none);
  margin-top: 12px;
}
.loading-image {
  animation: rotate 2s linear infinite;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.nodata-container {
  margin-top: 5.6rem;
  @include responsive('T') {
    margin-top: 4rem;
  }
}
