.reservations-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  height: 1340px;
  overflow: scroll;
  scrollbar-width: none;
}

.loading-container {
  display: flex;
  justify-content: center;
  margin-top: -20px;
}

.loading-image {
  animation: spin 0.5s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
