.signin {
  max-width: 64rem;
  padding-top: 10.4rem;
  margin: 0 auto;
  max-height: 100vh;

  @include responsive(T) {
    padding-top: 7.2rem;
  }

  @include responsive(M) {
    max-width: 35rem;
    padding: 4.4rem 1.2rem 0 1.2rem;
  }

  &-label {
    @include column-flexbox($ai: start);

    gap: 0.8rem;

    &-text {
      @include text-style(1.6, 400, $black);
    }
  }

  &-form {
    @include column-flexbox($ai: stretch);

    gap: 2.8rem;

    width: 100%;
    margin-top: 4rem;
  }

  &-link {
    @include flexbox;

    padding-top: 2.3rem;

    &-text {
      @include text-style(1.6, 400, $primary);

      &-link {
        @include text-style(1.6, 400, $darkgreen);

        text-decoration: underline;
        padding-left: 0.5rem;
      }
    }
  }
}
