.container {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 29.8rem;
  height: 18.4rem;
  border-radius: 0.8rem;
  border: none;
  box-shadow: 0px 4px 16px 0px $search-popup-box-shadow;

  &::before {
    content: '';
    display: block;
    position: absolute;
    left: 50%;
    top: 2.4rem;
    transform: translateX(-50%);
    width: 2.4rem;
    height: 2.4rem;
    background: url('~/public/icons/Icon_popup_check.svg') no-repeat;
  }

  &::backdrop {
    opacity: 0.7;
    background-color: $popup-background;
    transition: $base-transition;
  }

  .text {
    @include text-style(1.6, 400, $primary);
    padding: calc(50% - 8rem) 0 0;
    font-family: 'Spoqa Han Sans Neo', sans-serif;
    text-align: center;
    line-height: 2.6rem;
  }

  .button-group {
    @include flexbox(center, center);
    gap: 0.8rem;
    margin: 3.2rem 0 0;

    button {
      width: 8rem;
    }
  }
}
