.title {
  @include text-style(2.8, 700, $black);

  line-height: 2.6rem; /* 92.857% */
  margin: 1rem 0 -1rem;
  @include responsive(M) {
    margin: 0 0 -1rem;
  }
}
.reservation {
  &-status {
    @include flexbox(start);
    @include text-style(2, 400, $gray80);
    gap: 1.2rem;
    margin-top: 3.4rem;
    line-height: 2.6rem; /* 130% */
    border-bottom: 0.1rem solid $gray30;

    &-item {
      margin-bottom: -0.2rem;
      padding: 0 0.4rem 1.3rem;

      &.selected {
        @include text-style(2, 600, $darkgreen);
        border-bottom: 0.4rem solid $darkgreen;
      }
    }
  }

  &-info-container {
    @include column-flexbox(center, start);
    padding-top: 2.5rem;
    margin-bottom: 6rem;
    gap: 3.2rem;
    width: 100%;

    overflow: scroll;

    &::-webkit-scrollbar {
      display: none;
    }

    > div {
      width: 100%;
    }

    @include responsive('M') {
      max-height: 80vh;
    }
  }

  &-date {
    @include text-style(2, 400, $black);
    margin-bottom: 1rem;
  }

  &-card {
    &-list {
      @include column-flexbox(start, center);
      margin-top: 1.6rem;
      gap: 1.4rem;
      width: 100%;
      max-height: 25rem;
      min-height: 17.5rem;
    }

    &-item {
      @include column-flexbox(between, stretch);

      border-radius: 0.4rem;
      border: 1px solid $gray30;
      padding: 1.6rem 1.6rem 1.2rem;
      width: 38.2rem;
      height: 11.6rem;

      &-none {
        @include text-style(1.8, 500, $gray80);
        width: 38.2rem;
      }
      &-info {
        @include text-style(1.6, 600, $gray70);
        @include flexbox(start);
        gap: 1rem;

        > span {
          @include text-style(1.6, 500, $black);
        }
      }

      &-status {
        @include flexbox(end, end);
        gap: 0.6rem;
        > button {
          width: 8.2rem;
        }
      }

      @include responsive('M') {
        width: 100%;
        border-radius: 1.2rem;

        &-none {
          width: 100%;
        }
      }
    }
  }
  &-current-situation {
    @include flexbox(between, center);
    position: fixed;
    width: 88%;
    bottom: 2rem;
    padding: 1rem 0 0;

    background-color: $white;

    > h2 {
      @include text-style(2.8, 600, $black);
    }

    @include responsive(M) {
      width: 90%;
      padding-bottom: 0;
    }
  }
}

.reservation-history {
  overflow: auto;

  &::-webkit-scrollbar {
    display: none;
  }
}

.little-title {
  @include text-style(2, 600, $black);

  margin-bottom: 0.4rem;
}

.dropdown {
  &-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    border: 0.1rem solid $gray60;
  }
}
