.calendar-container {
  padding: 1rem 2rem;
  margin: 0 auto;
  min-width: 24rem;
  max-width: 37.3rem;
  border: 0.1rem solid $gray30;
  border-radius: 1rem;

  @include responsive(M) {
    padding: 1.5rem;
    margin: 0 2rem;
  }
  :global {
    .react-calendar {
      @include text-style(1.3, 600, $gray80);
      max-width: 100%;
      border-radius: 2.4rem;
      font-family: OpenSans;
    }
    .react-calendar__navigation {
      @include flexbox(between, center);

      & button {
        width: 1.6rem;
        @include text-style(3, 700, $black);

        > span {
          @include text-style(2, 700, $black);
        }

        &:disabled {
          color: $gray30;
        }
        &:hover,
        :focus {
          background-color: $lightgreen;
          border-radius: 0.4rem;
        }
      }
    }

    .react-calendar__month-view__weekdays {
      @include text-style(1.4, 700, $gray80);
      padding: 1rem;
      text-align: center;
    }
    abbr[title] {
      text-decoration: none;
    }

    // .react-calendar__month-view__days__day--weekend {
    //   color: $red;
    // }

    .react-calendar__month-view__days__day--neighboringMonth,
    .react-calendar__decade-view__years__year--neighboringDecade,
    .react-calendar__century-view__decades__decade--neighboringCentury {
      color: $gray50;
    }

    .react-calendar__year-view .react-calendar__tile,
    .react-calendar__decade-view .react-calendar__tile,
    .react-calendar__century-view .react-calendar__tile {
      padding: 1em 0.5em;
    }
    .react-calendar__tile {
      max-width: 100%;
      padding: 1rem;
      background: none;
      text-align: center;
      font: inherit;

      &:disabled {
        color: $gray50;
      }

      &--now {
        background: $lightgreen;
        border-radius: 0.8rem;
        font-weight: bold;
        color: $darkgreen;
      }
    }

    .react-calendar__tile:enabled:hover,
    .react-calendar__tile:enabled:focus {
      background: $darkgreen;
      color: $white;
      border-radius: 0.8rem;
    }

    .react-calendar__month-view__days__day--neighboringMonth:disabled,
    .react-calendar__decade-view__years__year--neighboringDecade:disabled,
    .react-calendar__century-view__decades__decade--neighboringCentury:disabled {
      color: $gray50;
    }
  }
}
