.tag {
  @include text-style(1.4, 700, $orange);
  font-family: 'Spoqa Han Sans Neo';
  text-align: center;

  display: inline-flex;
  padding: 1rem 1.5rem;

  border-radius: 2.65rem;
  background: $lightorange;

  &.rejected {
    color: $red;
    background: $lightred;
  }
}
