.container {
  @include column-flexbox(center, start);
  width: 100%;
  gap: 3.2rem;

  .category-box {
    @include column-flexbox(center, start);
    gap: 1.2rem;
  }

  .category {
    @include text-style(3.6, 700, $black);
    span {
      font-weight: 400;
    }

    .title {
      font-weight: 700;
    }
  }

  .count {
    @include text-style(1.6, 400, $black);
  }

  .list-box {
    display: grid;
    grid-template-columns: repeat(4, minmax(auto, 28.3rem));
    column-gap: 1.6rem;
    row-gap: 4.8rem;

    @include responsive('T') {
      grid-template-columns: repeat(3, minmax(23rem, 38rem));
      width: 100%;
      row-gap: 3.2rem;
    }

    @include responsive('M') {
      grid-template-columns: repeat(2, minmax(16rem, 38rem));
    }
  }
}
