.date-control {
  @include text-style(2, 700, $black);
  @include flexbox(between, center);
  width: 34.2rem;
  margin: 0 auto 2.9rem;
  line-height: 2.6rem;

  .button {
    overflow: hidden;
    white-space: nowrap;
    text-indent: 100%;
    width: 2.4rem;
    height: 2.4rem;
    background: url('~/public/icons/Icon_calendar_control.svg') no-repeat;

    &.next {
      transform: rotate(-180deg);
    }
  }

  .date {
    @include flexbox(center, center);
    gap: 0.5rem;
  }
}

.calendar {
  overflow: hidden;
  width: 80rem;
  margin: 0 auto;
  border-radius: 0.8rem;
  border: 1px solid $calendar-border;

  @include responsive(M) {
    width: 100%;
  }

  .table {
    width: 80rem;
    border-collapse: collapse;

    @include responsive(M) {
      width: 100%;
    }

    th,
    td {
      text-align: left;
      padding: 1.2rem;
      font-family: 'Inter', sans-serif;
      border-right: 1px solid $calendar-border;
      border-top: 1px solid $calendar-border;
      background-color: $white;

      &:last-child {
        border-right: none;
      }
    }

    th {
      @include text-style(1.6, 500, $calendar-text-color);
      border-top: none;
    }

    td {
      @include text-style(2.1, 500, $calendar-text-color);
      height: 15.4rem;
      vertical-align: top;
      cursor: pointer;

      &.active {
        color: $calendar-text-active-color;
      }
    }
  }
}
