.form {
  @include column-flexbox(stretch, start);

  gap: 1.6rem;

  &-label {
    @include text-style(2.4, 700, $black);

    margin-top: 1.6rem;
  }

  &-field {
    max-width: 79.2rem;
    width: 100%;

    @include responsive(T) {
      width: calc(100% - 26.7rem);
    }

    @include responsive(M) {
      width: 100%;
    }
    &-title {
      @include inline-flexbox(between);

      width: 100%;
    }
  }
}

.back {
  @include flexbox(stretch, center);

  &-icon {
    display: none;

    @include responsive(M) {
      display: block;
    }
  }
}
