// Primary
$primary: #333236;

// Secondary
$blue: #0085ff;
$skyblue: #2eb4ff;
$lightblue: #e5f3ff;
$green: #0b3b2d;
$lightgreen: #f1effd;
$yellow: #ffc23d;
$orange: #ff7c1d;
$lightrrange: #fff4e8;
$red: #ff472e;
$lightred: #ffe4e0;

// Grayscale
$black: #1b1b1b;
$gray80: #4b4b4b;
$gray70: #79747e;
$gray60: #a4a1aa;
$gray50: #adaeb8;
$gray40: #cbc9cf;
$gray30: #ddd;
$gray20: #eee;
$gray10: #fafafa;

// opacity
$opacity-black-30: rgba(0 0 0 / 30%);
$opacity-black-60: rgba(0 0 0 / 60%);
$opacity-white-5: rgba(255 255 255 / 5%);

// Specific color
//$nav-background: $black;
$modal-background: $opacity-black-60;
$column-background: $gray80;
$stroke: $gray70;
$card-background: $gray60;
$tag-background: $opacity-white-5;
//$landing-background: $black10;
