/* stylelint-disable */
$font-main: 'Pretendard', -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue',
  'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', 'Apple Color Emoji', 'Segoe UI Emoji',
  'Segoe UI Symbol', sans-serif, 'Inter', sans-serif, 'Spoqa Han Sans Neo', 'sans-serif', 'Open Sans', sans-serif;

$browser-font-size: 62.5%;

$font-size-12: 1.2rem;
$font-size-14: 1.4rem;
$font-size-16: 1.6rem;
$font-size-18: 1.8rem;
$font-size-20: 2rem;
$font-size-24: 2.4rem;

@font-face {
  font-family: 'Pretendard';
  src: url('/fonts/Pretendard-Regular.woff2') format('woff2');
  font-weight: 400;
}

@font-face {
  font-family: 'Pretendard';
  src: url('/fonts/Pretendard-Medium.woff2') format('woff2');
  font-weight: 500;
}

@font-face {
  font-family: 'Pretendard';
  src: url('/fonts/Pretendard-SemiBold.woff2') format('woff2');
  font-weight: 600;
}

@font-face {
  font-family: 'Pretendard';
  src: url('/fonts/Pretendard-Bold.woff2') format('woff2');
  font-weight: 700;
}

@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter-Medium.woff2') format('woff2');
  font-weight: 500;
}

@font-face {
  font-family: 'Spoqa Han Sans Neo';
  src: url('/fonts/SpoqaHanSansNeo-Regular.woff2') format('woff2');
  font-weight: 400;
}

@font-face {
  font-family: 'Spoqa Han Sans Neo';
  src: url('/fonts/SpoqaHanSansNeo-Bold.woff2') format('woff2');
  font-weight: 700;
}

@font-face {
  font-family: 'Open Sans';
  src: url('/fonts/OpenSans-Bold.woff2') format('woff2');
  font-weight: 600;
}

@font-face {
  font-family: 'Open Sans';
  src: url('/fonts/OpenSans-ExtraBold.woff2') format('woff2');
  font-weight: 700;
}
