.container {
  @include flexbox;
  position: absolute;
  left: 0;
  right: 0;

  .wrapper {
    position: relative;
    width: 100%;
    overflow: hidden;

    &:hover {
      .swipeLeft,
      .swipeRight {
        position: absolute;
        top: 45%;
        z-index: 1;
        display: block;
        border-radius: 10px;
        opacity: 0.6;

        &:hover {
          opacity: 1;
        }

        @include responsive('T') {
          display: none;
        }
      }
    }

    .swipeLeft {
      display: none;
      left: 1rem;
    }

    .swipeRight {
      display: none;
      right: 1rem;
      transform: rotate(180deg);
    }

    .banner {
      display: flex;
      width: 100%;

      li {
        flex: none;
        object-fit: contain;
      }
    }
  }

  .banner-item {
    @include flexbox;
    position: relative;
    width: 100%;
    height: 55rem;
    padding: 0 3.2rem;
    overflow: hidden;
    transition: border 300ms;

    img {
      position: absolute;
      min-width: 100%;
      min-height: 100%;
      flex-shrink: 0;
    }
  }

  .banner-text {
    @include column-flexbox(center, start);
    position: relative;
    left: -25%;
    gap: 2rem;
    z-index: 0;
    width: 50rem;

    @include responsive('T') {
      position: absolute;
      width: 44rem;
      left: 3.2rem;
      gap: 0.8rem;
    }

    @include responsive('M') {
      width: 18.4rem;
      left: 2.4rem;
    }

    .title {
      @include text-style(6.8, 700, $white);
      
      flex-wrap: wrap;

      @include responsive('T') {
        font-size: 5.4rem;
      }

      @include responsive('M') {
        font-size: $font-size-24;
      }
    }

    .rank {
      @include text-style(2.4, 700, $white);

      @include responsive('T') {
        @include text-style(2, 700, $white);
      }

      @include responsive('M') {
        font-size: $font-size-14;
      }
    }
  }
}

.blank {
  height: 55rem;
}