.side-menu-entire {
  width: 38.4rem;
  padding: 2.4rem;
  gap: 2.4rem;
  background-color: $white;
  border-radius: 1.2rem;
  border: 0.1rem solid $gray30;

  @include column-flexbox(none, none);
}

.user-profile {
  position: relative;
  margin: 0 auto;

  width: 16rem;
  height: 16rem;
}
.user-profile-image {
  border-radius: 100%;
  overflow: hidden;
  box-shadow: 0 0.4rem 1.6rem 0 rgba(0, 0, 0, 0.08);
}
.user-profile-image:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: transform 0.3s;
}
.side-menu {
  @include column-flexbox(center, none);
  gap: 0.8rem;

  :hover {
    background-color: $lightgreen;
    color: #112211;
    border-radius: 1.2rem;
  }
}

.side-menu-link {
  padding: 0.9rem 0 0.9rem 1.6rem;
  gap: 1.2rem;

  &.active {
    background-color: $lightgreen;
    color: #112211;
    border-radius: 1.2rem;
  }

  @include flexbox(none, center);
  @include text-style(1.6, 700, #a1a1a1);
}
.side-menu-link:hover {
  cursor: pointer;
}
.side-menu-Image {
  filter: invert(60%);
}

.side-menu-link:hover .side-menu-Image,
.side-menu-link.active .side-menu-Image {
  filter: invert(0%);
}

.side-menu-file-input {
  display: none;
}
.side-menu-Image-modify {
  position: absolute;
  width: 4.2rem;
  height: 4.2rem;
  background-color: $darkgreen;
  border-radius: 100%;
  bottom: 0%;
  right: 3%;
  @include flexbox(center, center);
  cursor: pointer;
}
.side-menu-Image-modify-icon:hover {
  transform: scale(1.07);
  transition: transform 0.2s;
}
