%chips-base {
	width: 100%;
	padding: 0.3rem 0.4rem;
	@include flexbox(start, start);
	gap: 0.2rem;
	border-radius: 0.4rem;
}

.chips {
	@extend %chips-base;

	&-confirmed {
		background: $lightorange;

		span {
			@include chips-text-style($orange);
		}
	}

	&-complete {
		background: $gray30;

		span {
			@include chips-text-style($gray80);
		}
	}

	&-reservation {
		background: $blue;

		span {
			@include chips-text-style($white);
		}
	}

	&-seat {
		background: $white;

		span {
			@include chips-text-style($blue);
		}
	}
}
