.title {
  @include text-style(2, 700, $black);
}

.notification {
  &-list {
    @include column-flexbox(start, start);
    gap: 0.8rem;
    margin-top: 1.6rem;
    font-family: 'Spoqa Han Sans Neo';
    list-style-type: disc !important;
    word-break: keep-all;
    width: 36.8rem;
    height: 27rem;
    overflow: scroll;
    scrollbar-width: none;

    @include responsive(M) {
      min-width: 100%;
      height: 100%;
    }
  }

  &-item {
    @include column-flexbox(start, start);
    gap: 0.4rem;
    font-family: 'Spoqa Han Sans Neo';

    background-color: $white;
    width: 100%;
    padding: 1.6rem 1.2rem;
    gap: 0.4rem;

    border-radius: 0.5rem;
    border: 1px solid $gray25;

    &-top-line {
      @include flexbox(between, stretch);
      width: 100%;

      > img {
        &:first-child {
          margin-top: 0.4rem;
          &.rejection {
            filter: invert(40%) sepia(72%) saturate(3888%) hue-rotate(343deg) brightness(101%) contrast(100%);
          }

          &.approval {
            filter: invert(32%) sepia(47%) saturate(4169%) hue-rotate(198deg) brightness(104%) contrast(106%);
          }
        }
      }
    }

    &-context {
      @include text-style(1.4, 400, $black);
      line-height: 2.2rem;
    }

    &-timeAgo {
      @include text-style(1.2, 400, $gray60);
    }
  }
}
