.footer-entire {
  margin-top: 12rem;
  height: 16rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40rem;
  background-color: $gray90;
  @include text-style(1.6, 400, $gray85);

  @include responsive("T") {
    gap: 6rem;
  }

  @include responsive("M") {
    flex-direction: column;
    gap: 2.4rem;
  }
}

.footer-company-name {
  display: flex;
  gap: 40rem;

  @include responsive("T") {
    gap: 6rem;
  }

  @include responsive("M") {
    gap: 1.2rem;
  }
}

.footer-policy-faq {
  display: flex;
  gap: 3rem;
  padding-right: 1.8rem;
}

.footer-icon-link {
  display: flex;
  gap: 1.2rem;
}

.footer-icon-image:hover {
  transform: scale(1.2);
  transition: transform 0.2s ease;
}
